name: Test comtypes with Python-dev
on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        architecture: ['x86', 'x64']
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.15-dev"
          architecture: ${{ matrix.architecture }}
      - name: Clone comtypes from GH upstream repo
        run: git clone https://github.com/enthought/comtypes.git
      - name: Unittest
        run: |
          cd comtypes/
          python -m unittest discover -v -s ./comtypes/test -t comtypes\test
