name: Test comtypes with Python-dev
on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        architecture: ['x86', 'x64']
        python-version: ['3.14-dev', '3.15-dev']
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          architecture: ${{ matrix.architecture }}
      - name: Clone comtypes from GH upstream repo
        run: git clone https://github.com/enthought/comtypes.git
      - name: Unittest
        run: |
          cd comtypes/
          python -m unittest discover -v -s ./comtypes/test -t comtypes\test

      - name: Prepare artifact directory
        if: ${{ always() }}
        run: |
          $dest = "output/${{ matrix.python-version }}-${{ matrix.architecture }}"
          if (!(Test-Path $dest)) { New-Item -ItemType Directory -Path $dest -Force }
          Copy-Item "comtypes/comtypes/gen/WindowsInstaller.py" -Destination $dest
        shell: pwsh

      - name: Upload temporary artifact
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: partial-artifact-${{ matrix.python-version }}-${{ matrix.architecture }}
          path: output/
          retention-days: 1

  merge:
    runs-on: ubuntu-latest
    needs: build
    if: ${{ always() }}
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: all-outputs
          pattern: partial-artifact-*
          merge-multiple: true

      - name: Create final zip
        run: |
          zip -r windows-installer-artifacts.zip .
        working-directory: all-outputs

      - name: Upload final artifact
        uses: actions/upload-artifact@v4
        with:
          name: comtypes-gen-files
          path: all-outputs/windows-installer-artifacts.zip
